
{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base", //extiende las reglas de javascript a tipeEscript
    "eslint:recommended",    // habilita reglas basicas de javascript
    "plugin:@typescript-eslint/recommended"  // habilita reglas basicas de javascript
  ],
  "parserOptions": {
    "project": "./tsconfig.json", //toma todos los archivos de src para parserlos
    "tsconfigRootDir": "./", //toma todos los archivos de src para parserlos
    "sourceType": "module"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "no-param-reassign": "off",
    "no-throw-literal": "off",
    "@typescript-eslint/no-throw-literal": "off",
    "no-restricted-syntax": "off",
    "max-len": "off"
  }
}

